export(
    ## Models
    "double_well", "double_well_coupled", "harvestmodel", "noise",# "load_network_model",

    ## Early Warnings
    "windowed_sdmethod", "windowed_lagmethod", "windowed_acmethod", "Iadj",
    "sampled_eigenmethod", "sampled_MoranI", "sampled_sdmethod", "sampled_acmethod",

    ## Helper Functions
    "select_stressnode",

    ## Algorithm Support Functions
    "choose_sentinels", "sentinel_ranking", "sentinel_ranking_ts",

    ## Counting Functions
    "upperstate", "lowerstate",

    ## Pre-defined, named motifs
    "complete", "feedback", "feedforward", "fromthemiddleout", "linemotif", "tothemiddle"
)
